settings:
  clusterName: ${cluster_name}
  clusterEndpoint: ${cluster_endpoint}

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: ${iam_role_arn}

replicas: 1

controller:
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: karpenter.sh/nodepool
              operator: DoesNotExist

